@font-face {
    font-family: 'HypatiaSansPro';
    src: url('HypatiaSansPro-Bold.eot');
    src: url('HypatiaSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('HypatiaSansPro-Bold.woff2') format('woff2'),
        url('HypatiaSansPro-Bold.woff') format('woff'),
        url('HypatiaSansPro-Bold.ttf') format('truetype'),
        url('HypatiaSansPro-Bold.svg#HypatiaSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('HypatiaSansPro-Regular.eot');
    src: url('HypatiaSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('HypatiaSansPro-Regular.woff2') format('woff2'),
        url('HypatiaSansPro-Regular.woff') format('woff'),
        url('HypatiaSansPro-Regular.ttf') format('truetype'),
        url('HypatiaSansPro-Regular.svg#HypatiaSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

