.special-detail {
  font-family: 'Roboto', sans-serif; }

.special-detail_inner, .container-fluid {
  width: 100%;
  max-width: 1450px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .special-detail_inner_width, .container-fluid_width {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: none; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Bold.eot");
  src: url("../assets/fonts/Roboto-Bold?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.woff") format("woff"), url("../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../assets/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Light.eot");
  src: url("../assets/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../assets/fonts/Roboto-Light.woff") format("woff"), url("../assets/fonts/Roboto-Light.ttf") format("truetype"), url("../assets/fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Black.eot");
  src: url("../assets/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Black.woff2") format("woff2"), url("../assets/fonts/Roboto-Black.woff") format("woff"), url("../assets/fonts/Roboto-Black.ttf") format("truetype"), url("../assets/fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Regular.eot");
  src: url("../assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype"), url("../assets/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Thin.eot");
  src: url("../assets/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Thin.woff2") format("woff2"), url("../assets/fonts/Roboto-Thin.woff") format("woff"), url("../assets/fonts/Roboto-Thin.ttf") format("truetype"), url("../assets/fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Medium.eot");
  src: url("../assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../assets/fonts/Roboto-Medium.woff") format("woff"), url("../assets/fonts/Roboto-Medium.ttf") format("truetype"), url("../assets/fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

.grey-tipe-inner {
  width: 100%;
  box-shadow: inset 0 -50px 20px -60px #000;
  background: #f5f5f5; }

.grey-tipe-outer {
  width: 100%;
  box-shadow: 0 1px 20px -9px #000; }

.fa-chevron-down:before {
  content: "\f054"; }

.no-margin {
  margin: 0 !important; }

.special-detail__banner {
  max-width: 100%;
  display: block; }

.special-detail__about-container {
  margin: 50px 0;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  display: flex; }
  @media only screen and (max-width: 1247px) {
    .special-detail__about-container {
      height: auto; } }
  @media only screen and (max-width: 767px) {
    .special-detail__about-container {
      justify-content: center; } }

.special-detail__about-img {
  display: block;
  width: auto;
  height: 100%; }
  @media only screen and (max-width: 767px) {
    .special-detail__about-img {
      display: none; } }

.special-detail__about {
  justify-content: space-between;
  padding: 0 30px;
  flex: 0 0 85%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 1023px) {
    .special-detail__about {
      flex: 0 0 70%; } }
  @media only screen and (max-width: 1023px) {
    .special-detail__about {
      flex: 0 0 100%; } }

.special-detail__about-title {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900; }

.special-detail__about-subtitle {
  font-weight: 900;
  text-transform: uppercase; }

.special-detail__about-desc {
  font-weight: 400; }

.special-detail__how-container {
  margin: 50px 0;
  text-align: center; }

.special-detail__how-title {
  padding-bottom: 5px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 5px solid #ffba00;
  display: inline-block; }
  @media only screen and (max-width: 639px) {
    .special-detail__how-title {
      border-bottom: 0; } }
  @media only screen and (max-width: 639px) {
    .special-detail__how-title_m {
      border-bottom: 5px solid #ffba00; } }
  .special-detail__how-title_m {
    text-transform: uppercase;
    display: inline-block; }

.special-detail__how-steps {
  justify-content: center;
  display: flex;
  list-style: none; }
  @media only screen and (max-width: 767px) {
    .special-detail__how-steps {
      flex-direction: column; } }
  .special-detail__how-steps p {
    margin-bottom: 0; }

.special-detail__how-step {
  flex: 0 0 30%;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .special-detail__how-step:nth-child(n+2) {
      margin-top: 50px; }
    .special-detail__how-step:nth-child(1):before, .special-detail__how-step:nth-child(2):before {
      content: "";
      display: block;
      position: absolute;
      right: 50%;
      bottom: -60px;
      width: 1px;
      height: 50px;
      background: #e6e6e6; } }

.special-detail__how-order {
  margin: 0;
  font-size: 100px;
  font-weight: 900;
  position: relative;
  color: #ffba00; }
  @media only screen and (max-width: 767px) {
    .special-detail__how-order_divider:before {
      display: none !important; } }
  .special-detail__how-order_divider:before {
    content: "";
    display: block;
    position: absolute;
    right: -50%;
    top: 50%;
    width: 50%;
    height: 1px;
    transform: translate(-50%, -50%);
    background: #e6e6e6; }

.special-detail__how-desc {
  font-weight: 600; }

.special-detail__how-btn {
  padding: 8px 20px;
  margin-right: 10px;
  border: 0;
  border-radius: 2px;
  outline: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
  background-color: #ffba00;
  color: black; }

.special-detail__date-container {
  margin: 50px 0;
  text-align: center; }

.special-detail__date-title {
  font-weight: 900;
  text-transform: uppercase;
  color: #fe7006; }

.special-detail__date-subtitle {
  font-weight: 900;
  text-transform: uppercase; }

.special-detail__date-disclaimer {
  font-weight: 500; }

.special-detail__date-desc {
  position: relative; }
  .special-detail__date-desc:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 35%;
    height: 3px;
    background: #e6e6e6; }

.special-detail__date-disclaimer {
  margin-bottom: 0;
  font-size: 15px; }

.special-detail__date-img {
  margin-top: 60px; }
  .special-detail__date-img figcaption {
    margin-top: 15px;
    text-transform: uppercase; }
    .special-detail__date-img figcaption p {
      margin: 8px 0;
      font-weight: 900; }
