@font-face {
  font-family: "HypatiaSansPro";
  src: url("../../media/fonts/HypatiaSansPro-Bold.eot");
  src: url("../../media/fonts/HypatiaSansPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../media/fonts/HypatiaSansPro-Bold.woff2") format("woff2"),
    url("../../media/fonts/HypatiaSansPro-Bold.woff") format("woff"),
    url("../../media/fonts/HypatiaSansPro-Bold.ttf") format("truetype"),
    url("../../media/fonts/HypatiaSansPro-Bold.svg#HypatiaSansPro-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HypatiaSansPro";
  src: url("../../media/fonts/HypatiaSansPro-Regular.eot");
  src: url("../../media/fonts/HypatiaSansPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../media/fonts/HypatiaSansPro-Regular.woff2") format("woff2"),
    url("../../media/fonts/HypatiaSansPro-Regular.woff") format("woff"),
    url("../../media/fonts/HypatiaSansPro-Regular.ttf") format("truetype"),
    url("../../media/fonts/HypatiaSansPro-Regular.svg#HypatiaSansPro-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
